$color-header: white;
$color-hover: #FFC0CB;
$color-gradiente: radial-gradient(circle, #49287F 0%, rgba(0,0,0,1) 88%);
$color-negro: black;
$color-blanco: white;
$color-backgroundindex:#49287F;
$color-boton: pink;
$color-hoverdisco: #E2A4B0;
$color-nosotros:#E2A4B0;
$color-historia: #9b59b6;
$color-historiah2:#670d7e;
$color-historiap:#360652;
$color-contacto:#FFD1DC;
$color-footer:#0a141d;
$color-blancogris:#efefef;
$color-footera:#0d2033;
$color-nolucro:#0a1a2a;