$color-header: white;
$color-hover: #ffc0cb;
$color-gradiente: radial-gradient(circle, #49287f 0%, rgba(0, 0, 0, 1) 88%);
$color-negro: black;
$color-blanco: white;
$color-backgroundindex: #49287f;
$color-boton: pink;
$color-hoverdisco: #e2a4b0;
$color-nosotros: #e2a4b0;
$color-historia: #9b59b6;
$color-historiah2: #670d7e;
$color-historiap: #360652;
$color-contacto: #ffd1dc;
$color-footer: #0a141d;
$color-blancogris: #efefef;
$color-footera: #0d2033;
$color-nolucro: #0a1a2a;
